body{
  background-color: black;
  text-align: center;
}
a{
  font-size: 17px;
  color:rgba(50,200,50,1);
}
.container{
  width:90%;
}
.account-wall{
  margin-top:5%;
  margin-bottom:30px;
}
input, button{
  margin: auto;
  max-width: 250px;
  margin-top:20px;
}
.btn-block{
  border:none;
  background-color:rgba(50,200,50,.8);
  margin-bottom: 20px;
}
.home{
  position: absolute;
  left:20px;
  top:20px;
  font-size:24px;
}
.home:hover{
  text-decoration: none;
}
.username{
  font-size: 17px;
}
.messenger{
  width:350px;
  max-height:300px;
  overflow: auto;
  text-align: left;
  color:white;
}
.messages{
  max-width: 330px;
}
.messenger input{
  width: 100%;
  color:black;
}
#submitMsg{
  display: none;
}
